<h1>Edit User</h1>

<form action="/users/updated_user/<%= @user.id %>" method="post">
Name:<br>
<input type="string" name="human" value="<%= @user.name %>"><br>
<br>
Email:<br>
<input type="string" name="email" value="<%= @user.email %>"><br>
<br>
Password:<br>
<input type="string" name="password" value="<%= @user.password %>"><br>
<br>
<input type="submit" value="Submit"><br>

</form><br>
<br>
<a href="/users/delete_user/<%= @user.id %>">Delete user</a>